/*======== Variable =======*/
:root {
  --primary-font: 'Roboto', sans-serif;
  --accent-font: 'Raleway', sans-serif;
  --primary-text-color: #212121;
  --secondary-text-color: #424141;
  --accent-text-color: #645259;
}

body {
  font-family: var(--primary-font);
  color: var(--primary-text-color);
}
h1,
h2,
h3,
h3,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}
ul {
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
  display: block;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/*======== Header =======*/
.header {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-image: url(/images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right bottom;
}
.prof {
  margin-bottom: 20px;
  line-height: 1.364;
  letter-spacing: 0.06em;
}
.name {
  margin-bottom: 20px;
  line-height: 1.364;
  letter-spacing: 0.06em;
}
/*======== Main =======*/
.container {
  display: flex;
}
/*======== Left Side =======*/
.left-side {
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #ac929d;
}
.photo-container {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
}
.photo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.title {
  margin-top: 15px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.contacts {
  margin-bottom: 5px;
}
.contacts-link,
.tech-list-item,
.soft-list-item {
  color: var(--secondary-text-color);
}
/*======== Right Side =======*/
.right-side {
  padding-top: 25px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #f7e8e1;
}
.profesion-title,
.education-title {
  margin-top: 15px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
.profesion-desc {
  margin-bottom: 5px;
}
.title.right-side {
  padding-bottom: 5px;
  text-align: center;
  border-bottom: #ac929d 2px solid;
  border-radius: 80%;
}
.projects-list-item {
  margin-bottom: 10px;
}
.projects-list-link {
  margin-bottom: 5px;
  font-weight: 700;

  color: var(--accent-text-color);
}
.project-desc {
  font-size: 14px;
  color: var(--accent-text-color);
}
.accent,
.section {
  font-weight: 600;
  color: var(--secondary-text-color);
}

.time {
  margin-bottom: 5px;
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}

.contacts-link:hover,
.contacts-link:focus {
  color: wheat;
}
.projects-list-link:hover,
.projects-list-link:focus {
  font-weight: 900;
  color: var(--primary-text-color);
}
