/*======== Variable =======*/
:root {
  --primary-font: 'Roboto', sans-serif;
  --accent-font: 'Raleway', sans-serif;
  --primary-text-color: #212121;
  --secondary-text-color: #d1c7c7;
  --accent-text-color: #b4758c;
}

body {
  font-family: var(--primary-font);
  color: var(--primary-text-color);
}
h1,
h2,
h3,
h3,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}
ul {
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
  display: block;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/*======== Theme Switch =======*/
.toolbar {
  display: flex;
  justify-content: flex-end;
  padding: 16px 24px;
}
.theme-switch {
  display: flex;
  align-items: center;
}

.theme-switch__icon {
  color: currentColor;
  height: 24px;
  width: 24px;
  margin-right: 8px;
  margin-left: 8px;
}

.theme-switch__control {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  width: 64px;
  height: 32px;
  border-radius: 50em;
  padding: 3px 0;
}

.theme-switch__toggle {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 0;
  width: 0;
  pointer-events: none;
}

.theme-switch__track {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  user-select: none;
  background-color: #333;
  border-radius: inherit;
  z-index: 1;
  cursor: pointer;
}

.theme-switch__marker {
  position: relative;
  background-color: #fff;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  transform: translateX(3px);
  transition: transform 250ms var(--timing-function);
}

.theme-switch__toggle:checked + .theme-switch__track {
  background-color: #d3d3d4;
}

.theme-switch__toggle:checked ~ .theme-switch__marker {
  transform: translateX(35px);
}

.theme-switch__toggle:focus + .theme-switch__track,
.theme-switch__toggle:active + .theme-switch__track {
  box-shadow: 0 0 0 3px #2196f3;
}
body.light-theme {
  background-color: #fff;
}

body.dark-theme {
  background-color: #333333;
  color: #fff;
}
body.dark-theme .header {
  background-color: #5f575a;
}
body.dark-theme .left-side {
  background-color: #363535;
}
body.dark-theme .right-side {
  background-color: #524949;
}
/*======== Header =======*/
.wrapper {
  background: #ffffff;
  max-width: 1200px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  box-shadow: 5px 9px 20px rgb(0 0 0 / 25%);
}
.header {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #a7818f;
}
.prof {
  margin-bottom: 20px;
  font-size: 26px;
  line-height: 1.364;
  letter-spacing: 0.06em;
}
.name {
  font: var(--accent-font);
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 1.364;
  letter-spacing: 0.06em;
}
/*======== Main =======*/
.container {
  display: flex;
}
/*======== Left Side =======*/
.left-side {
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #ac929d;
}
.photo-container {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
}
.photo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.title {
  margin-top: 15px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.contacts {
  margin-bottom: 5px;
}
.contacts-link,
.tech-list-item,
.soft-list-item {
  line-height: 1.364;

  color: var(--secondary-text-color);
}
/*======== Right Side =======*/
.right-side {
  padding-top: 25px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #f7e8e1;
}
.profesion-title,
.education-title {
  margin-top: 15px;

  font: var(--accent-font);
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
.profesion-desc {
  margin-bottom: 5px;
}
.title.right-side {
  padding-bottom: 5px;
  text-align: center;
  border-bottom: #ac929d 2px solid;
  border-radius: 80%;
}
.projects-list-item {
  margin-bottom: 10px;
}
.projects-list-link {
  margin-bottom: 5px;
  font-weight: 700;

  color: var(--accent-text-color);
}
.project-desc {
  font-size: 14px;
  color: var(--accent-text-color);
}
.accent,
.section {
  font-weight: 600;
  color: #ac929d;
}

.time {
  margin-bottom: 5px;
  color: var(--accent-text-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}

.contacts-link:hover,
.contacts-link:focus,
.projects-list-link:hover,
.projects-list-link:focus {
  font-weight: 900;
  color: rgb(194, 153, 194);
}
